@import "../utils/utils.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  // background-color: #006CFF;
  background-color: #000000;

  @include tablets {
    padding: 10px;
    padding-bottom: 0;
    height: 60px;
  }
}